@import '../../../App.scss';

.Login {
	display: flex;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	width: 100vw;
	justify-content: center;
	align-items: center;
	background-color: $secondary;
	flex-direction: column;
	overflow: hidden;

	&__logo {
		margin-top: auto;
	}

	&__welcomeText {
		color: $primary;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		padding: 10px;
	}

	&__google {
		width: 100%;
		&--button {
			width: 75%;
			background-color: $primary !important;
			color: $secondary !important;
			span {
				padding: 8px;
				font-size: 18px;
				font-weight: bold !important;
			}
		}
	}

	&__terms {
		font-size: 12px;
		margin-top: auto;
		color: $primary;
		width: 250px;
		margin-bottom: 15px;

		a {
			color: #2fa2ff;
			font-style: italic;
			font-weight: bold;
			text-decoration-line: none;
		}
	}
}
