@import '../../../App.scss';

.CHBCabinSelected {
	@extend .page;

	&__container {
		@extend .pageContainer;

		&--inner {
			flex-direction: column;
			padding-left: 15px;
			padding-right: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;

			&__welcomeText {
				display: block;
				margin: 0 auto;
				width: 75%;
			}
		}
	}
}
