@import '../../../App.scss';

.CHBCabinSelected {
	@extend .page;

	&__container {
		@extend .pageContainer;

		&--inner {
			padding-left: 15px;
			padding-right: 15px;

			&-textOnly {
				@extend .CHBCabinSelected__container--inner;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
			}
		}
	}
}
