@import '../../../App.scss';

.CHBBottomNav {
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 99;

	.MuiBottomNavigation-root {
		min-height:65px;
		background-color: $secondary;
		button {
			margin-top: 3px;
		}
	}

	.MuiBottomNavigationAction-label {
		color: $primary;
	}
}
