.Profile {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-height: 90vh;
	height: calc(var(--vh, 1vh) * 90);

	&__photoAndNameContainer {
		display: flex;
		justify-items: center;
		flex-direction: column;
		align-items: center;

		&--photo {
			height: 150px !important;
			width: 150px !important;
		}

		p {
			margin-top: 15px;
			margin-bottom: 0;
		}

		&--cabin {
			font-size: 12px;
			margin-top: 5px !important;
			margin-bottom: 15px !important;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		height: 100%;
		max-width: 100vw;
		width: 90%;
		padding-top: 10px;
		padding-bottom: 10px;
		overflow-y: scroll;

		&--formItem {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			padding-left: 15px;
			padding-right: 15px;
			margin: 7px 0;
			label {
				font-size: 15px;
			}

			p {
				font-size: 14px;
				margin: 0 8px;
				word-break: break-all;
			}

			&-textField {
				margin-left: 10px !important;
			}
		}

		&--formItem-down {
			@extend .Profile__container--formItem;
			flex-direction: column;
			align-items: stretch;
			label {
				margin-bottom: 7px;
			}
			p {
				word-break: break-all;
			}

			textarea {
				padding: 10px;
				min-height: 80px;
			}
		}

		&--actionButtonContainer {
			display: flex;
			justify-content: center;
			width: 80%;
			align-self: center;
			margin-top: 10px;
		}
	}
}
